@page "session/{sessionId:int}/user/{userId:int}"
@model ResultModel

<h2>User: @Model.User?.Name</h2>
<h2>Rating: @Model.Score?.Rating</h2>
<h3>Actions:</h3>
<h2>@Environment.NewLine</h2>
<ul>
    @foreach (var action in Model?.Actions ?? [])
    {
        var messagePart = string.IsNullOrEmpty(action.Message) ? string.Empty : $"- {action.Message}";
        <li>
            <h5>@action.DetectTime - @action.ActionType.ToString() @messagePart</h5>
            <h5>@Environment.NewLine</h5>
        </li>
    }
</ul>
