@page "{id:int}"
@model SessionModel

<h2>Session: @Model.Session?.Id</h2>
@if (Model.Session != null) 
{
    @if (Model.Session.StartDate != null) {
        <h4>Start date: @Model.Session.StartDate.Value.ToLongDateString() @Model.Session.StartDate.Value.ToLongTimeString()</h4>
    }
    @if (Model.Session.EndDate != null) {
        <h4>Stop date: @Model.Session.EndDate.Value.ToLongDateString() @Model.Session.EndDate.Value.ToLongTimeString()</h4>
    }

    @if (Model.Session.StartDate == null) 
    {
        <form method="post">
            <button type="submit" asp-page-handler="Start"
                    asp-route-sessionId="@Model.Session.Id">
                Start session
            </button>
        </form>
    }
    else if (Model.Session.EndDate == null) 
    {
        <form method="post">
            <button type="submit" asp-page-handler="Stop"
                    asp-route-sessionId="@Model.Session.Id">
                Stop session
            </button>
        </form>
    }
    else if (Model.Scores != null)
    {
        if (Model.Scores.Count() == 0) 
        {
            <form method="post">
                <button type="submit" asp-page-handler="Analyze"
                        asp-route-sessionId="@Model.Session.Id">
                    Start analysis
                </button>
            </form>
        }
        else 
        {
            @foreach (var score in Model.Scores) 
            {
                var user = Model.Users?.FirstOrDefault(x => x.Id == score.UserId);
                if (user != null) 
                {
                    <li>
                        <h4>@user.Name : @score.Rating</h4>
                    </li>
                    <form method="get">
                        <button type="submit" asp-page="Result"
                                asp-route-userId="@score.UserId" asp-route-sessionId=@score.SessionId>
                            Go to result info
                        </button>
                    </form>
                }
            }
        }
    }
}
